@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-between-center {
    @apply flex justify-between items-center;
  }
  .circle {
    @apply after:absolute after:-right-4 after:content-[''] after:w-1.5 after:h-1.5 after:rounded-full after:inline-block after:border after:border-dark;
  }
}
.swiper-custom-bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 0;
  opacity: 1;
  background: #4b5966;
  margin: 0 3px;
  transform: skew(340deg);
  -webkit-transform: skew(340deg);
  transition: all 0.3s ease 0s;
}
.swiper-custom-bullet-active {
  width: 30px;
  background: #6c7fd8;
}
.outlined-text {
  text-shadow: 1px 1px #111124, -1px 1px #111124, 1px -1px #111124,
    -1px -1px #111124;
  opacity: 0.3;
}

.banner::before {
  content: "";
  width: 400px;
  height: 600px;
  position: absolute;
  left: -260px;
  transform: rotate(207deg);
  top: -160px;
}
.banner::after {
  content: "";
  width: 150px;
  height: 300px;
  position: absolute;
  right: -80px;
  transform: rotate(207deg);
  top: 160px;
}
.banner-one:after,
.banner-one::before {
  background: #f4dab4;
}
.banner-two::before,
.banner-two::after {
  background: #ffc6ce;
}

.banner-full::before {
  content: "";
  background-image: url('../images/banner-two/left-shape.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -30px;
  bottom: 0;
}
.banner-full::after {
  content: "";
  background-image: url('../images/banner-two/right-shape.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 194px;
}